BACKEND_URL=
CJ_API_TOKEN=
CJ_PUBLISHER_CID=
FRONTEND_URL=
GEMINI_API_KEY=
Google_Client_Id=
Google_Client_Secret=
INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
INSTAGRAM_REDIRECT_URI=
JWT_EXPIRE=
JWT_SECRET=
MONGODB_URI=
NODE_ENV=
PORT=
SESSION_SECRET=
WEBHOOK_VERIFY_TOKEN=
Youtube_Api_Key=
YOUTUBE_REDIRECT_URI=
